<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="navbar">
    <a class="navbar-left" href="../index.html">

      <img src="/assets/logo.png" alt="Logo" class="logo" />

      <!-- <a href="../index.html" class="site-title">FreshDehydrate</a> -->
    </a>

    <ul class="navbar-mid">
      <li><a href="../index.html">Home</a></li>
      <li><a href="/pages/About.html">About</a></li>
      <li><a href="/pages/Products.html">Products</a></li>
      <li><a href="/pages/Contactus.html">Contact Us</a></li>
    </ul>

    <ul class="navbar-right">
      <li>
        <a href="/pages/Cart.html" style="position: relative;">
          <img src="../assets/shopping-cart.png" alt="Cart" class="cart-icons" />
          <span id="cart-count" class="cart-count" style="display: none;">0</span>
        </a>
      </li>
      <li><a href="/pages/signup.html" class="btn btn-success">Sign Up</a></li>
    </ul>
  </nav>


</body>

</html>